<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVCHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1802828C1DAFD2E9005BA674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180282A51DAFD2EA005BA674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180282B01DAFD2EA005BA674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
